{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'music/img/icon.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'music/css/form.css' %}">
    <title>Adding playlist</title>
</head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__container container">
                    <a href="{% url 'home' %}" class="header__logo">
                        <img src="{% static 'music/img/logo.png' %}" alt="IKIT music">
                    </a>
                    <nav class="header__menu menu">
                        <ul class="menu__list">
                            <li>
                                <a href="{% url 'tracks' %}" class="menu__link">Tracks</a>
                            </li>
                            <li>
                                <a href="{% url 'home' %}" class="menu__link current__item">Playlists</a>
                            </li>
                            <li>
                                <a href="{% url 'favorite' %}" class="menu__link">Favorite</a>
                            </li>
                        </ul>
                        <div class="header__info">
                            <div class="header__user">
                                <img src="{% static 'music/img/user.png' %}" alt="profile">
                            </div>
                            <div class="user__info">
                                <div class="user__name"></div>
                                <a href="#" class="menu__link logout">Logout</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <main class="page">
                <section class="page__main-block main-block">
                    <div class="main-block__container container">
                        <div class="main-block__body">
                            <h1 class="main-block__title">
                                Playlist creation
                            </h1>
                            <div class="form">
                                <div class="form__container">
                                    <form action="#" method="post" name="create" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form__input">
                                            <label for="exampleInputPlaylist" class="form__header">Playlist name</label>
                                            <input type="text" class="input" id="exampleInputPlaylist" aria-describedby="usernameHelp"
                                                   placeholder="Enter a playlist name" name="name">
                                            <div class="name-error"></div>
                                        </div>
                                        <div class="form__input">
                                            <label for="playlistDescription" class="form__header">Playlist description</label>
                                            <textarea name="description" id="playlistDescription" cols="30" rows="3" class="input" placeholder="Enter a description"></textarea>
                                            <div class="description-error"></div>
                                        </div>
                                        <button class="save" type="submit" name="save_btn">
                                            Save
                                        </button>
                                        <div class="error">

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/secure.js' %}"></script>
    </body>
</html>