{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'music/img/icon.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,100&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'music/css/form.css' %}">
    <title>Login</title>
</head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__container container">
                    <a href="{% url 'home' %}" class="header__logo">
                        <img src="{% static 'music/img/logo.png' %}" alt="IKIT music">
                    </a>
                </div>
            </header>
            <main class="page">
                <section class="page__main-block main-block">
                    <div class="main-block__container container">
                        <div class="main-block__body">
                            <div class="form">
                                <h1 class="main-block__title">Login</h1>
                                <div class="form__container">
                                    <form action="#" method="post" name="login" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form__input">
                                            <label for="exampleInputUsername1" class="form__header">Username</label>
                                            <input type="text" class="input" id="exampleInputUsername1" aria-describedby="usernameHelp"
                                                   placeholder="Enter your username" name="username">
                                            {{ form.username.errors }}
                                        </div>
                                        <div class="form__input">
                                            <label for="exampleInputPassword1" class="form__header">Password</label>
                                            <input type="password" class="input" id="exampleInputPassword1"
                                                   placeholder="Enter your password" name="password">
                                            {{ form.password.errors }}
                                        </div>
                                        <div class="error">
                                            {% if form.non_field_errors %}
                                                {{ form.non_field_errors }}
                                            {% endif %}
                                        </div>
                                        <a href="{% url 'register' %}" class="register">Don't have an account? Sign up</a>
                                        <button type="submit" class="save">Login</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/secure.js' %}"></script>
    </body>
</html>