{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="{% static 'music/img/icon.png' %}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,100&family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'music/css/style.css' %}">
        <title>Home</title>
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__container container">
                    <a href="{% url 'home' %}" class="header__logo">
                        <img src="{% static 'music/img/logo.png' %}" alt="IKIT music">
                    </a>
                    <nav class="header__menu menu">
                        <ul class="menu__list">
                            <li>
                                <a href="{% url 'home' %}" class="menu__link">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'tracks' %}" class="menu__link">Tracks</a>
                            </li>
                            <li>
                                <a href="{% url 'home' %}" class="menu__link current__item">Playlists</a>
                            </li>
                            <li>
                                <a href="{% url 'playlist' 5 %}" class="menu__link">Favorite</a>
                            </li>
                            <li>
                                <a href="{% url 'login' %}" class="menu__link">Login</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main class="page">
                <section class="page__main-block main-block">
                    <div class="main-block__container container">
                        <div class="main-block__body">
                            <div class="flex-container">
                                <h1 class="main-block__title">
                                    Playlists
                                </h1>
                                <a href="{% url 'new' %}" class="button-add">
                                    <div class="button__container">
                                        <div class="button__flex">
                                            <div class="button__img">
                                                <img src="{% static 'music/img/plus.png' %}" alt="">
                                            </div>
                                            <div class="button__text">
                                                Create new playlist
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            
                            <div class="slider">
                                {% for playlist in playlists %}
                                    <div class="slider__item">
                                        <a href="{% url 'playlist' playlist.pk %}" class="slider__link" id="{{ playlist.pk }}">
                                            <div class="img">
                                                <img src="{{ playlist.cover.url }}" alt="new tracks" class="playlist-cover">
                                                <div class="track__buttons">
                                                    <a href="{% url 'next' playlist.pk 1 %}">
                                                        <div class="first-div" onclick="$('.first-div > div').toggleClass('pause');">
                                                            <div class="track__play play__button"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <p>{{ playlist.name }}</p>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
                {% if connection %}
                <div class="play-track">
                    <div class="play__container">
                        <audio class="audio" src="{{ connection.composition.audio.url }}"></audio>
                        <div class="play__control">
                    {{ size }}
                    <a href="{% url 'next' playlist.pk connection.order|add:'-1' %}" class="play__previous">
                        <img src="{% static 'music/img/play/previos.png' %}"
                             alt="prev">
                    </a>
                    <a href="#" class="play__pause">
                        <img src="{% static 'music/img/play/play-pause 1.png' %}"
                             alt="play">
                    </a>
                    <a href="{% url 'next' playlist.pk connection.order|add:1 %}" class="play__next">
                        <img src="{% static 'music/img/play/next.png' %}"
                             alt="next">
                    </a>
                    <a href="{% url 'playlist' playlist.pk %}" class="play__list">
                        <img src="{% static 'music/img/play/list 1.png' %}"
                             alt="playlist">
                    </a>
                </div>
                        <div class="play__composition">
                    <div class="play__image">
                        <img src="{{ connection.composition.cover.url }}"
                             alt="">
                    </div>
                    <div class="play__track">
                        <div class="track__name">
                            {{ connection.composition.name }}
                        </div>
                        <div class="track__author">
                            {{ connection.composition.author }}
                        </div>
                    </div>
                </div>
                        <div class="play__progress">
                    <div class="play__progress-container">
                        <div class="play__line"></div>
                        <div class="play__curr-progress"></div>
                    </div>
                </div>
                        <div class="play__add">
                    <a href="{% url 'choose' connection.composition.pk %}" class="play__plus">
                        <img src="{% static 'music/img/play/plus-small 1.png' %}"
                             alt="">
                    </a>
                    {% if connection.composition.is_liked %}
                    <a href="{% url 'remove' connection.composition.pk %}" class="play__like">
                        <img src="{% static 'music/img/heart 2.png' %}" alt="">
                    </a>
                    {% else %}
                    <a href="{% url 'add' connection.composition.pk 5 %}" class="play__like">
                        <img src="{% static 'music/img/tracks/like.png' %}" alt="">
                    </a>
                    {% endif %}
                </div>
                    </div>
                </div>
                {% endif %}
            </main>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <script src="{% static 'music/JS/slick.min.js' %}"></script>
        <script src="{% static 'music/JS/script.js' %}"></script>
        <script src="{% static 'music/JS/play.js' %}"></script>
        </div>
    </body>
</html>