{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'music/img/icon.png' %}"
          type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,100&family=Montserrat:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'music/css/playlist.css' %}">
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <title>{{ playlist.name }}</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="header__container container">
            <a href="{% url 'home' %}" class="header__logo">
                <img src="{% static 'music/img/logo.png' %}" alt="IKIT music">
            </a>
            <nav class="header__menu menu">
                <ul class="menu__list">
                    <li>
                        <a href="{% url 'home' %}" class="menu__link">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'tracks' %}"
                           class="menu__link">Tracks</a>
                    </li>
                    {% if not playlist.name == "Favorite" %}
                    <li>
                        <a href="{% url 'home' %}"
                           class="menu__link current__item">Playlists</a>
                    </li>
                    <li>
                        <a href="{% url 'playlist' 5 %}" class="menu__link">Favorite</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'home' %}"
                           class="menu__link">Playlists</a>
                    </li>
                    <li>
                        <a href="{% url 'playlist' 5 %}"
                           class="menu__link current__item">Favorite</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main class="page">
        <section class="page__main-block main-block">
            <div class="main-block__container container">
                <div class="main-block__body">
                    <div class="playlist__container">
                        <div class="playlist__cover">
                            <div class="playlist__image">
                                <img src="{{ playlist.cover.url }}" alt="">
                            </div>
                            <div class="playlist__information">
                                <div class="playlist__text">
                                    <div class="playlist__name">
                                        {{ playlist.name }}
                                    </div>
                                    {% if playlist.description %}
                                    <div class="playlist__description">
                                        {{ playlist.description }}
                                    </div>
                                    {% endif %}
                                </div>
                                {% if not playlist.is_default %}
                                <a href="{% url 'delete_pl' playlist.pk %}"
                                   class="minus-btn">
                                    <img src="{% static 'music/img/tracks/minus.png' %}"
                                         alt="">
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="container-sl">
                            <div class="slider">
                                {% for column in tracks %}
                                <div class="slider__item">
                                    <form class="sortable" hx-post="{% url 'sort' %}"
                                          hx-trigger="end" hx-target="#film-list">
                                        {% csrf_token %}
                                        <div class="htmx-indicator">
                                            Updating...
                                        </div>
                                        {% for track in column %}
                                        <div class="item__track" draggable='true'>
                                            <input type='hidden' name='item'
                                                   value='{{ track.pk }}'/>
                                            <div class="item__container" >
                                                <div class="play__composition item__composition">
                                                    <div class="play__cover">
                                                        <div class="play__image">
                                                            <img src="{{ track.composition.cover.url }}"
                                                                 alt="">
                                                        </div>
                                                        <div class="play__button">
                                                            <a href="{% url 'play_all' playlist.pk track.order %}"
                                                               class="track__link">
                                                                <img src="{% static 'music/img/tracks/play 3.png' %}"
                                                                     alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="play__track">
                                                        <div class="play__name">
                                                            {{ track.composition.name }}
                                                        </div>
                                                        <div class="play__author">
                                                            {{ track.composition.author }}
                                                        </div>
                                                    </div>
                                                    <div class="buttons">
                                                        <a href="{% url 'delete' playlist.pk track.pk %}"
                                                           class="button__minus">
                                                            <img src="{% static 'music/img/tracks/minus.png' %}"
                                                                 alt="">
                                                        </a>
                                                        <a href="#"
                                                           class="button__like">
                                                            <img src="{% static 'music/img/tracks/like.png' %}"
                                                                 alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </form>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% if connect %}
        <div class="play-track">
            <div class="play__container">
                <audio class="audio" src="{{ connect.composition.audio.url }}"></audio>
                <div class="play__control">
                    <a href="{% url 'play_all' playlist.pk connect.order|add:'-1' %}"
                       class="play__previous">
                        <img src="{% static 'music/img/play/previos.png' %}"
                             alt="prev">
                    </a>
                    <a href="#" class="play__pause">
                        <img src="{% static 'music/img/play/play-pause 1.png' %}"
                             alt="play">
                    </a>
                    <a href="{% url 'play_all' playlist.pk connect.order|add:1 %}"
                       class="play__next">
                        <img src="{% static 'music/img/play/next.png' %}"
                             alt="next">
                    </a>
                    <a href="#" class="play__list">
                        <img src="{% static 'music/img/play/list 1.png' %}"
                             alt="playlist">
                    </a>
                </div>
                <div class="play__composition">
                    <div class="play__image">
                        <img src="{{ connect.composition.cover.url }}" alt="">
                    </div>
                    <div class="play__track">
                        <div class="track__name">
                            {{ connect.composition.name }}
                        </div>
                        <div class="track__author">
                            {{ connect.composition.author }}
                        </div>
                    </div>
                </div>
                <div class="play__progress">
                    <div class="play__progress-container">
                        <div class="play__line"></div>
                        <div class="play__curr-progress"></div>
                    </div>
                </div>
                <div class="play__add">
                    <a href="{% url 'choose' connect.composition.pk %}" class="play__plus">
                        <img src="{% static 'music/img/play/plus-small 1.png' %}"
                             alt="">
                    </a>
                    <a href="#" class="play__like">
                        <img src="{% static 'music/img/play/heart 1.png' %}"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </main>
    <script>
        htmx.onLoad(function (content) {
            let sortables = content.querySelectorAll(".sortable");
            for (let i = 0; i < sortables.length; i++) {
                let sortable = sortables[i];
                new Sortable(sortable, {
                    animation: 150,
                    ghostClass: 'blue-background-class'
                });
            }
        })
    </script>
    <script src="{% static 'music/JS/play.js' %}"></script>
</div>
</body>
</html>